[CMSSW]
total_number_of_events=28610575
number_of_jobs=400
output_file=GenToRecoFill.root
pset=seedEff_QCD_NORECODEBUG.py
datasetpath=/DYJetsToLL_M-50_TuneCUETP8M1_13TeV-amcatnloFXFX-pythia8/RunIISpring15DR74-AsymptNoPURawReco_MCRUN2_74_V9A-v4/GEN-SIM-RECO
[USER]
#copy_data = 1
return_data              = 1 
storage_element=T2_CH_CERN 
#user_remote_dir=sdevissc/testNoPileUp 
#dbs_url_for_publication = https://cmsdbsprod.cern.ch:8443/cms_dbs_caf_analysis_01_writer/servlet/DBSServlet
dbs_url=https://cmsdbsprod.cern.ch:8443/cms_dbs_caf_analysis_01_writer/servlet/DBSServlet

[CRAB]
jobtype = cmssw
scheduler = remoteglidein
use_server = 0 

[EDG]
#se_black_list = T2_FR_IPHC
